<#@ include file=".\CommandGenerator.t4" #>
<#@ include file="..\..\..\Kusto.Language.Generators\AriaBridgeCommandInfos.cs" #>
<#= new CommandGenerator().GenerateSymbols("AriaBridgeCommands", typeof(AriaBridgeCommandInfos)) #>
