<#@ include file=".\CommandGenerator.t4" #>
<#@ include file="..\..\..\Kusto.Language.Generators\DataManagerCommandInfos.cs" #>
<#= new CommandGenerator().GenerateParser("DataManagerCommandGrammar", typeof(DataManagerCommandInfos)) #>
