<#@ include file=".\CommandGenerator.t4" #>
<#@ include file="..\..\..\Kusto.Language.Generators\EngineCommandInfos.cs" #>
<#= new CommandGenerator().GenerateSymbols("EngineCommands", typeof(EngineCommandInfos)) #>
